@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: var(--Pale-blue); */
    background: url(./assets/images/1wallpaperflare.com_wallpaper.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;

}

.card {
    width: 736px;
    /* background-color: var(--White); */
    border: 2px solid rgba(121, 48, 77, 0.14);
    background: transparent;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    /* overflow: hidden; */
    /* box-shadow: 10px 20px 10px 10px rgba(0,0,0), .5; */
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.s-1 {
    /* background-color: var(--Light-royal-blue); */
    background: transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 30px 30px;
    border-radius: 2rem;
}

.title {
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 22px;
    color: var(--Light-lavender);
}

.circular {
    background: linear-gradient(to bottom, rgba(241, 161, 133, 0.51), rgba(139, 45, 75, 0.63));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circular h1 {
    font-size: 70px;
    color: var(--White);
}

.circular p {
    color: var(--Light-lavender);
}

.s-1 h2 {
    padding-top: 27px;
    text-align: center;
    font-size: 33px;
    color: var(--White);
}

.info {
    padding-top: 14px;
    padding-bottom: 25px;
    width: 80%;
    text-align: center;
    color: var(--Light-lavender);
}

/*
Section 2 Summary !!!!!!!! 
 */

.s-2 {
    /* background-color: var(--White); */
    background: transparent;
    width: 50%;
    padding: 39px 20px 30px 40px;
    border-radius: 0 2rem 2rem 0;
}

.s-2 h3 {
    font-size: 24px;
    padding-bottom: 28px;
}

span {
    color: var(--Light-lavender);
}

.r-1,
.r-2,
.r-3,
.r-4 {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 288px;
    border-radius: 10px;
}

.row-gap {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.r-1 {
    background-color: hsla(0, 100%, 67%, .1);
    font-weight: 800;
}

.r-1:nth-child(1) .activity b {
    color: hsl(0, 67%, 39%)
}

.r-2 {
    background-color: hsla(39, 100%, 56%, .1)
}

.r-2:nth-child(2) .activity b {
    color: var(--Orangey-yellow);
}

.r-3 {
    background-color: hsla(166, 100%, 37%, .1)
}

.r-3:nth-child(3) .activity b {
    color: var(--Green-teal)
}

.r-4 {
    background-color: hsla(234, 85%, 45%, .1)
}

.r-4:nth-child(4) .activity b {
    color: var(--Cobalt-blue)
}

.activity {
    display: flex;
    gap: 13px;
}

.btn {
    margin-top: 42px;
    padding: 16px;
    width: 288px;
    border-radius: 30px;
    text-align: center;
    outline: none;
    border: none;
    color: var(--White);
    background-color: var(--Dark-gray-blue);
}

.btn:hover {
    /* background-color: rgba(189, 65, 101, 0.89); */
    background-color: hsl(224, 39%, 29%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* 
END OF PC RESOLUTIONS
*/

/* 
START OF MOBILE RESOLUTIONS 
*/

@media screen and (max-width: 769px) {

    body {
        align-items: flex-start;
    }

    .card {
        border: none;
        border-radius: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .s-1 {
        border-radius: 0 0 2rem 2rem;
    }

    .s-1,
    .s-2 {
        width: 100%;
    }

    .s-2 h3 {
        text-align: center;
    }

    .r-1,
    .r-2,
    .r-3,
    .r-4 {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 401px) {
    .s-1 {
        padding: 0;
    }

    .circular {
        padding-top: 10px;
        width: 130px;
        height: 130px;
    }

    .circular h1 {
        font-size: 56px;
        color: var(--White);
    }

    .circular p {
        font-size: 15px;
    }

    .title {
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: 18px;

    }

    .s-1 h2 {
        padding-top: 34px;
        font-size: 24px;
    }

    .info {
        padding-top: 6px;
        padding-bottom: 37px;
    }

    .s-2 {
        display: flex;
        flex-direction: column;
        padding: 25px 20px 30px 30px;
        /* align-items: flex-start; */
    }

    .s-2 h3 {
        font-size: 18px;
        text-align: start;
        padding-bottom: 25px;
    }

    b {
        font-size: 16px;
    }

    .row-gap {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .activity {
        gap: 10px;
    }

    .btn {
        margin-top: 24px;
    }

}

/* 
END!!!!!!
*/